<style>
body{
    position: static;
}
page {
	background-color: black;
	height: 100%
}
span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
h1 {
	font-family: Times;
    font-size: 500%;
    color: black;
    margin: 6%;
	margin-top: 8%;
    text-align: center;
}
h2 {
	clear: both;
	font-family: Times;
    font-size: 300%;
    text-align: center;
	text-decoration: underline;
}
h4{
	font-size: 90%;
	margin-top:0;
}
h3{
	font-family: Times;
	font-size: 150%;
	text-decoration: underline;
	margin-bottom: 0;
}
p {
    display: inline;
    text-indent: 2em;
}

/*NAVIGATION*/
nav {
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    font-size: 100%;
	text-align: left;
}
nav a {
    margin: 0;
    color: black;
    padding: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
	height: 7%;
	text-decoration: none;
}
nav a img {
	width:5%;
}
nav a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
	border-radius: 5px;
}
nav li {
    list-style-type: none;
    display: inline;
}



/*HEADER*/
header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 2%;
}

header img{
    padding-bottom: .9%;
    padding-top: 0%;
    width: 5%;
    margin: 0px
}


/*TEXT*/
article{
	font-family: "Aony";
    width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
    clear: both;
}


/*ARTICLES BY TIME*/
table{
	float: left;
	clear: none;
	margin-left: 19%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 2%;
	width: 60%;
	overflow: wrap;
	border-style: solid;
	border-width: 10px 1px 1px 1px;
	border-radius: 10px;
	border-spacing: 0;
	
}

td a{
	width: 170%;
	float: left;
	color: black;
	padding: 1%;
	margin-left: 4%;
	border: 1px solid white;
	border-radius: 3px;
	z-index: 100;
}
td a:hover{
	background-color: lightblue;
}

left {
	font-family: "Aony";
	float: left;
	clear: both;
	margin-top: 5%;
	margin-left: 7%;
	padding-left: 10%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 40%;
	overflow: wrap;
	border-style: solid;
	border-radius: 5px;
	border-width: 5px 1px 1px 1px;
}
left h2 {
	text-align: left;
}
left h3 {
	text-align: left;
	margin-top: -43px;
	clear: none;
}
left p {
	text-align: left;
	margin-top: -43px;
	clear: none;
}

right {
	font-family: "Aony";
	float: right;
	clear: none;
	margin-top: 5%;
	margin-right: 7%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 40%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
right h2 {
	text-align: left;
	margin-left: 10%;
}

right h3 {
	text-align: left;
	margin-left: 10%;
	margin-top: -43px;
}
left p {
	text-align: left;
	margin-left: 14%;
	margin-top: -43px;
	clear: none;

}
misc {
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 4%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 30%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
misc subsection{
	width: 100%;
	border-style: solid;
	border-width: 0px 0 0px 0;
	float: left;
	padding: 5%;
}
statement {
	font-family: "Aony";
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 8%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 45%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}

.col-info {
	font-family: "Aony";
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 8%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 35%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}

.col-misc {
	float: left;
	clear: none;
	margin-top: 5%;
	margin-left: 4%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 43%;
	overflow: wrap;
	border-style: solid;
	border-width: 5px 1px 1px 1px;
	border-radius: 5px;
}
.col-misc subsection{
	width: 100%;
	border-style: solid;
	border-width: 0px 0 0px 0;
	float: left;
	padding: 5%;
}
/*FOOTER*/
footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    clear: both;
    position: static;
    z-index: 100;
    margin: 0;

}
</style>
