<style>
body{
    position: static;
    width: 100%;
    height: 100%;
}

page {
	background-color: black;
	height: 100%
	
}
h1 {
	font-family: Times;
    font-size: 200%;
    color: black;
    margin: 5%;
    text-align: center;

}

h2 {
	font-family: Times;
    font-size: 100%;
    text-align: center;
}
h4{
	font-size: 120%;
}
h3{
	font-family: Times;
	font-size: 110%;
}

p {
    display: inline;
    text-indent: 2em;
}


/*NAVIGATION*/
nav {
    text-align: center;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    overflow: hidden;
    font-size: 100%;
}

nav ul a {
    margin: 0;
    color: black;
    padding: 2%;
    height: 7%
}

nav ul a:hover{
    color: white;
    background-color: black; 

}
nav li {
    list-style-type: none;
    display: inline;
}



/*HEADER*/
header{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    margin-bottom: 2%;
}

header img{
    padding-bottom: .9%;
    padding-top: 0%;
    width: 5%;
    margin: 0px
}


/*TEXT*/
article{
	text-align: left;
	font-family: "Aony";
    margin-left: 23%;
    margin-right: 23%;
    width: 50%;
    clear: none;
    float: right;
    margin-top: 5%;

}


/*ARTICLES BY TIME*/
table{
	float: left;
	clear: none;
	margin-left: 19%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 2%;
	width: 60%;
	overflow: wrap;
	border-style: solid;
	border-width: 10px 1px 1px 1px;
	border-radius: 10px;
	border-spacing: 0;
	
}

td a{
	width: 170%;
	float: left;
	color: black;
	padding: 1%;
	margin-left: 4%;
	border: 1px solid white;
	border-radius: 3px;
	z-index: 100;
}
td a:hover{
	background-color: lightblue;
}


/*LINKS AND INFO*/
misc{
	font-family: "Aony";
	float: right;
	clear: none;
	margin-top: 5%;
	margin-right: 3%;
	padding-left: 1%;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 2%;
	width: 13%;
	overflow: wrap;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

misc subsection{
	width: 100%;
	overflow: wrap;
	border-style: solid;
	border-width: 1px 0 1px 0;
	float: left;
	padding: 5%;
}

/*FOOTER*/
footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
    clear: both;
    position: static;
    z-index: 100;
    margin: 0;

}
</style>
